main .header {
    display: flex;
    align-items: center;

    height: 75px;
    padding: 0 30px 0 0;
    margin-bottom: 25px;

    z-index: 999;
}

/* Search bar */
main .header .searchbar {position: relative;}
main .header .searchbar input {
    color: #5a5a5a;
    font-size: 17px;

    background-color: #141c2f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

main .header .searchbar input:not(:placeholder-shown) {
    color: #fff;
}

main .header .searchbar input:focus-visible {outline: 1px solid #4674fe;}
main .header .searchbar i {position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}

/* Nav Bar btn */
main .header .navbar_btn {
    position: relative;
    margin-right: 20px;
}
main .header .navbar_btn button {
    height: 40px;
    width: 40px;
    
    color: #fff;
    font-size: 17px;

    background-color: #141c2f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

main .header .navbar_btn i {position: absolute; top: 50%; right: 11px; transform: translateY(-50%);}

/* Bell */
main .header .bell {
    margin-left: auto;
    font-size: 22px
}