.blocks {
    margin-top: 20px;
    padding: 0 20px 0 0;
}

.title2 {
    margin: 0;
}

.blocks .title {
    font-size: 20px;
}

.blocks .title2 {
    font-size: 15px;
    color: #8a8a8a;
    margin-bottom: 3px;
    margin-top: 3px;

    display: flex;
    align-items: center;
}

.blocks .headercontainer {
    display: flex;
    flex-direction: column;
}

.blocks .title2 p {
    margin: 0;
    width: 100px;

    flex: 1 0 0;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}

.blocks .title2 p.hash {
    margin-right: 510px;
}

.blocks .blockscontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;
}

.blocks .blockscontainer .block {
    display: flex;
    align-items: center;

    padding: 20px 30px;
    border-radius: 20px;


    background-color: #14223d79;
    box-shadow: 0 0 0px #14223d;
    transition: box-shadow 250ms, background-color 250ms;
}

.blocks .blockscontainer .block:hover {
    background-color: #14223d;
    box-shadow: 0 0 10px #14223d;
}


.blocks .blockscontainer .block .data {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blocks .blockscontainer .block .hash {
    font-size: 18px;
    width: 600px;    
}

.blocks .blockscontainer .block .data .collumn {width: 100px; white-space: nowrap;}
.blocks .blockscontainer .block .small {font-size: 14px; color: #8a8a8a;}
.blocks .blockscontainer .block .big {font-size: 16px;}

.blocks .blockscontainer .block .collumn.right {
    text-align: end;
}


@media only screen and (max-width: 850px) {
    .blocks .blockscontainer .block .collumn#expired,
    .blocks .blockscontainer .block .collumn#invalid {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .blocks .blockscontainer .block .collumn#lastshare {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .blocks .blockscontainer .block .collumn#hashes {
        display: none;
    }
}
