/* Styling for the sidebar */
.sidebar {
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 270px;
  height: 100vh;
  padding: 100px 20px 50px 20px;
  box-sizing: border-box;
  overflow: hidden auto;
  background-color: #f0f0f0;
  position: fixed;
  left: -300px; /* Start the sidebar off-screen */
  top: 0;
  transition: left 0.5s ease;
  transition: right 0.5s ease;
}

/* Open state */
.sidebar-open {
  left: 0;
}

/* Closed state */
.sidebar-closed {
  left: -300px;
}
  
/* Add a 5px gap when the sidebar is hidden */
#sidebar.sidebar-closed + #content {
  margin-left: 5px;
}

/* Main content styles */
#content {
  transition: margin-left 0.5s ease;
  transition: margin-right 0.5s ease;
}

/* Adjust margin-left to create space for the open sidebar */
.sidebar-open + main {
  padding-left: 290px;
}

.sidebar {
  font-family: 'Inter', sans-serif;
  background-color: var(--prim);
  color: #fff;


  --prim: #090f1d;
  --sec: #14223d;
}

.sidebar nav a {text-decoration: none;}
.sidebar nav navitem {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #5a5a5a;
  font-size: 20px;

  margin-bottom: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;

  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}

.sidebar nav navitem:hover {background-color: var(--sec); color: #fff;}

.sidebar nav navitem i {font-size: 25px !important;}
.sidebar nav navitem.active {color: #fff;}
.sidebar nav navitem.active i {color: #4674fe;}