/* Import the variables file */
@import '../../shared/css/color-variables.css';
/* Import Icons */
@import 'https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css';

/* Styling */
.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings .setting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings .setting .right {margin-left: auto;}

.settings .setting p {
  font-size: 17px;
}

.settings .setting input {
  color: var(--text);
  font-size: 17px;

  background-color: var(--secondary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;

  width: max-content; min-width: unset;
  flex: 1 0 0;
  max-width: 500px;
  margin-right: 20px;
}

.settings .setting select {
  color: var(--text);
  font-size: 17px;

  background-color: var(--secondary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;

  width: max-content; min-width: unset;
  flex: 1 0 0;
  max-width: 500px;
  margin-left: 34px;
}   

.settings .setting button {
  color: var(--text);
  font-size: 17px;

  background-color: var(--secondary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;

  width: max-content; min-width: unset;
  flex: 1 0 0;
  max-width: 100px;
  margin-left: 48px;
} .settings .setting button:hover {
  background-color: var(--primary);
}

.settings .setting input.full {max-width: unset;}

.settings .setting input:not(:placeholder-shown) {
  color: var(--text);
}

