::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background-color: var(--background);
}
