main .header {
    display: flex;
    align-items: center;

    height: 75px;
    padding: 0 30px 0 0;
    margin-bottom: 25px;
}

main .header .searchbar {position: relative;}
main .header .searchbar input {
    color: #5a5a5a;
    font-size: 17px;

    background-color: #141c2f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

main .header .searchbar input:not(:placeholder-shown) {
    color: #fff;
}

main .header .searchbar input:focus-visible {outline: 1px solid #4674fe;}
main .header .searchbar i {position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}

main .header .bell {
    margin-left: auto;
    font-size: 22px
}